<section class="mt-2">
  <div class="row">
    <div class="col btn-group flex-wrap">
      <button class="btn btn-primary" (click)="rxjsCombineAll()"> combineAll </button>
      <button class="btn btn-primary" (click)="rxjscombineLatest()"> combineLatest </button>
      <button class="btn btn-primary" (click)="rxjsConcat()"> concat </button>
      <button class="btn btn-primary" (click)="rxjsConcatAll()"> concatAll </button>
      <button class="btn btn-primary" (click)="rxjsForkJoin()"> ForkJoin </button>
      <button class="btn btn-primary" (click)="rxjsMerge()"> Merge </button>
      <button class="btn btn-primary" (click)="rxjsMergeAll()"> MergeAll </button>
      <button class="btn btn-primary" (click)="rxjsRace()"> Race </button>
      <button class="btn btn-primary" (click)="rxjsStartWith()"> StartWith </button>
      <button class="btn btn-primary" (click)="rxjsWithLatestFrom()"> WithLatestFrom </button>
      <button class="btn btn-primary" (click)="rxjsZip()"> Zip </button>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <h3 class="text-center">Abra la consola</h3>
      <pre>{{users | json}}</pre>
    </div>
  </div>
</section>